<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:jaxws="http://cxf.apache.org/jaxws" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"              
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
       http://cxf.apache.org/jaxws 
       http://cxf.apache.org/schemas/jaxws.xsd   
       ">
    
    <!-- Property placeholder-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>${property_file.source}:resources/pride_asa_pipeline.properties
                </value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders">
            <value>true</value>
        </property>
    </bean>   
    
    <!-- pipeline beans -->
    <bean id="commandLineRunner"
          class="com.compomics.pride_asa_pipeline.CommandLineRunner">
        <property name="prideSpectrumAnnotator" ref="prideSpectrumAnnotator"/>        
        <property name="dbResultHandler" ref="dbResultHandler"/>        
    </bean>
    
    <bean id="prideXmlCommandLineRunner"
          class="com.compomics.pride_asa_pipeline.PrideXmlCommandLineRunner">        
        <property name="prideXmlSpectrumAnnotator" ref="prideXmlSpectrumAnnotator"/>        
        <property name="prideXmlResultHandler" ref="prideXmlResultHandler"/>
    </bean>
            
    <bean id="prideSpectrumAnnotator"
          class="com.compomics.pride_asa_pipeline.logic.PrideSpectrumAnnotator">        
        <property name="experimentService" ref="dbExperimentService"/>
        <property name="spectrumService" ref="dbSpectrumService"/>
        <property name="modificationService" ref="dbModificationService"/>
        <property name="massRecalibrator" ref="massRecalibrator"/>
        <property name="spectrumMatcher" ref="spectrumMatcher"/>
        <property name="massDeltaExplainer" ref="massDeltaExplainer"/>
        <property name="peptideVariationsGenerator" ref="peptideVariationsGenerator"/>
    </bean>
    
    <bean id="prideXmlSpectrumAnnotator"
          class="com.compomics.pride_asa_pipeline.logic.PrideXmlSpectrumAnnotator">        
        <property name="experimentService" ref="prideXmlExperimentService"/>
        <property name="spectrumService" ref="prideXmlSpectrumService"/>
        <property name="modificationService" ref="prideXmlModificationService"/>
        <property name="massRecalibrator" ref="massRecalibrator"/>
        <property name="spectrumMatcher" ref="spectrumMatcher"/>
        <property name="massDeltaExplainer" ref="massDeltaExplainer"/>
        <property name="peptideVariationsGenerator" ref="peptideVariationsGenerator"/>
    </bean>
    
    <!-- transaction beans -->
    <bean id="prideDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="initialSize" value="${db.initial_pool_size}"/>
        <property name="maxActive" value="${db.max_pool_size}"/>
    </bean>
            
    <!-- service beans -->
    <bean id="dbExperimentService"
          class="com.compomics.pride_asa_pipeline.service.impl.DbExperimentServiceImpl">
        <property name="experimentRepository" ref="experimentRepository"/>
        <property name="spectrumService" ref="dbSpectrumService"/>
        <property name="resultHandler" ref="dbResultHandler"/>
    </bean>
    
    <bean id="prideXmlExperimentService"
          class="com.compomics.pride_asa_pipeline.service.impl.PrideXmlExperimentServiceImpl">
        <property name="experimentRepository" ref="experimentRepository"/>
        <property name="resultHandler" ref="prideXmlResultHandler"/>
        <property name="prideXmlParser" ref="prideXmlParser"/>
    </bean>  
    
    <bean id="dbSpectrumService"
          class="com.compomics.pride_asa_pipeline.service.impl.DbSpectrumServiceImpl">
        <property name="spectrumRepository" ref="spectrumRepository"/>
        <property name="spectrumPeaksCache" ref="spectrumPeaksCache"/>
    </bean>
    
    <bean id="prideXmlSpectrumService"
          class="com.compomics.pride_asa_pipeline.service.impl.PrideXmlSpectrumServiceImpl">
        <property name="prideXmlParser" ref="prideXmlParser"/>
    </bean>        
    
    <bean id="dbModificationService"
          class="com.compomics.pride_asa_pipeline.service.impl.DbModificationServiceImpl">
        <property name="modificationMarshaller" ref="modificationMarshaller"/>
        <property name="modificationRepository" ref="modificationRepository"/>
        <property name="omssaModificationMarshaller" ref="omssaModificationMarshaller"/>
    </bean> 
    
    <bean id="prideXmlModificationService"
          class="com.compomics.pride_asa_pipeline.service.impl.PrideXmlModificationServiceImpl">
        <property name="modificationMarshaller" ref="modificationMarshaller"/>
        <property name="prideXmlParser" ref="prideXmlParser"/>
        <property name="omssaModificationMarshaller" ref="omssaModificationMarshaller"/>
    </bean> 
    
    <bean id="dbResultHandler"
          class="com.compomics.pride_asa_pipeline.service.impl.ResultHandlerImpl">
        <property name="fileResultHandler" ref="fileResultHandler"/>
        <property name="modificationService" ref="dbModificationService"/>
    </bean>  
    
    <bean id="prideXmlResultHandler"
          class="com.compomics.pride_asa_pipeline.service.impl.ResultHandlerImpl">
        <property name="fileResultHandler" ref="fileResultHandler"/>
        <property name="modificationService" ref="prideXmlModificationService"/>
    </bean>                                       
    
    <!-- repository beans -->
    <bean id="experimentRepository"
          class="com.compomics.pride_asa_pipeline.repository.impl.JdbcExperimentRepository">
        <property name="dataSource" ref="prideDataSource"/>
    </bean>
    
    <bean id="spectrumRepository"
          class="com.compomics.pride_asa_pipeline.repository.impl.JdbcSpectrumRepository">
        <property name="dataSource" ref="prideDataSource"/>
    </bean>
    
    <bean id="modificationRepository"
          class="com.compomics.pride_asa_pipeline.repository.impl.JdbcModificationRepository">
        <property name="dataSource" ref="prideDataSource"/>
    </bean>
    
    <bean id="fileResultHandler"
          class="com.compomics.pride_asa_pipeline.repository.impl.FileResultHandlerImpl">  
        <property name="modificationService" ref="dbModificationService"/>      
    </bean>
    
    <bean id="prideXmlParser"
          class="com.compomics.pride_asa_pipeline.repository.impl.PrideXmlParserImpl">
    </bean>  
    
    <!-- encode/decode beans -->
    <bean id="base64DecoderMapper"
          class="com.compomics.pride_asa_pipeline.data.mapper.Base64DecoderMapper">
        <property name="base64DataDecoder" ref="base64DataDecoder"/>
    </bean>
    
    <bean id="base64DataDecoder"
          class="com.compomics.pride_asa_pipeline.logic.spectrum.decode.impl.Base64DataDecoderImpl">        
    </bean>
                               
    <!-- modification beans -->
    <bean id="massDeltaExplainer"
          class="com.compomics.pride_asa_pipeline.logic.impl.MassDeltaExplainerImpl">        
        <property name="modificationCombinationSolver" ref="modificationCombinationSolver"/>
    </bean>
    
    <bean id="modificationCombinationSolver"
          class="com.compomics.pride_asa_pipeline.logic.impl.ModificationCombinationSolverImpl">
        <property name="peptideModificationHolderCache" ref="peptideModificationHolderCache"/>     
        <property name="zenArcher" ref="zenArcher"/>     
    </bean>
    
    <bean id="modificationMarshaller"
          class="com.compomics.pride_asa_pipeline.logic.modification.impl.ModificationMarshallerImpl">        
    </bean>
    
    <bean id="peptideVariationsGenerator"
          class="com.compomics.pride_asa_pipeline.logic.impl.PeptideVariationsGeneratorImpl">        
    </bean>
    
    <bean id="peptideModificationHolderCache"
          class="com.compomics.pride_asa_pipeline.cache.impl.PeptideModificationHolderCache">        
    </bean>
            
    <bean id="zenArcher"
          class="com.compomics.pride_asa_pipeline.logic.impl.ZenArcherImpl">        
    </bean>
    
    <bean id="omssaModificationMarshaller"
          class="com.compomics.pride_asa_pipeline.logic.modification.impl.OmssaModificationMarshallerImpl">        
    </bean>
                    
    <!-- spectrum beans -->  
    <bean id="spectrumMatcher"
          class="com.compomics.pride_asa_pipeline.logic.spectrum.match.impl.SpectrumMatcherImpl">
        <property name="identificationScorer" ref="identificationScorer"/>
        <property name="noiseFilter" ref="noiseFilter"/>
        <property name="noiseThresholdFinder" ref="noiseThresholdFinder"/>
    </bean>
    
    <bean id="identificationScorer"
          class="com.compomics.pride_asa_pipeline.logic.spectrum.score.impl.IdentificationScorerImpl">        
    </bean>
    
    <bean id="noiseFilter"
          class="com.compomics.pride_asa_pipeline.logic.spectrum.filter.impl.PeakNoiseFilter">        
    </bean>
    
    <bean id="noiseThresholdFinder"
          class="com.compomics.pride_asa_pipeline.logic.spectrum.filter.impl.NoiseThresholdFinderImpl">        
    </bean>
    
    <!-- recalibration beans -->
    <bean id="massRecalibrator"
          class="com.compomics.pride_asa_pipeline.logic.recalibration.impl.MassRecalibratorImpl">
        <property name="massWindowFinder" ref="massWindowFinder"/>
    </bean>
    
<!--    <bean id="massRecalibrator"
          class="com.compomics.pride_asa_pipeline.logic.recalibration.impl.StubMassRecalibrator">
        <property name="massWindowFinder" ref="massWindowFinder"/>
    </bean>-->
    
    <bean id="massWindowFinder"
          class="com.compomics.pride_asa_pipeline.logic.recalibration.impl.SimpleMassWindowFinder">        
    </bean>
            
    <!-- other beans -->
    <bean id="spectrumPeaksCache"
          class="com.compomics.pride_asa_pipeline.cache.impl.SpectrumPeaksCache">        
    </bean>
    
    <!-- ols soap service client -->
    <jaxws:client id="olsClient"
                   serviceClass="uk.ac.ebi.ontology_lookup.ontologyquery.Query"
                   address="http://www.ebi.ac.uk/ontology-lookup/services/OntologyQuery" />
                                      
</beans>
