<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <!-- Property placeholder-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>${property_file.source}:resources/pride-asa-pipeline-core.properties
                </value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders">
            <value>true</value>
        </property>
    </bean>

    <!-- pipeline beans -->
   <bean id="commandLineRunner"
          class="com.compomics.pride_asa_pipeline.core.CommandLineRunner" lazy-init="true">
        <property name="spectrumAnnotator" ref="spectrumAnnotator"/>
        <property name="resultHandler" ref="resultHandler"/>
    </bean>

    <bean id="spectrumAnnotator"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.annotation.impl.SpectrumAnnotatorImpl" lazy-init="true">
        <property name="experimentService" ref="experimentService"/>
        <property name="spectrumService" ref="spectrumService"/>
        <property name="modificationService" ref="modificationService"/>
        <property name="pipelineModificationService" ref="pipelineModificationService"/>
        <property name="massRecalibrator" ref="massRecalibrator"/>
        <property name="spectrumMatcher" ref="spectrumMatcher"/>
        <property name="peptideVariationsGenerator" ref="peptideVariationsGenerator"/>
    </bean>


    <!-- service beans -->
    <bean id="experimentService"
          class="com.compomics.pride_asa_pipeline.core.service.impl.PrideExperimentServiceImpl">
        <property name="experimentRepository" ref="experimentRepository"/>
        <property name="spectrumService" ref="spectrumService"/>
        <property name="resultHandler" ref="resultHandler"/>
    </bean>

    <bean id="spectrumService"
          class="com.compomics.pride_asa_pipeline.core.service.impl.SpectrumServiceImpl">
        <property name="spectrumRepository" ref="spectrumRepository"/>
        <property name="spectrumPeaksCache" ref="spectrumPeaksCache"/>
    </bean>

    <bean id="modificationService"
          class="com.compomics.pride_asa_pipeline.core.service.impl.PrideModificationServiceImpl">
        <property name="modificationRepository" ref="modificationRepository"/>
        <property name="omssaModificationMarshaller" ref="omssaModificationMarshaller"/>
    </bean>

    <bean id="pipelineModificationService"
          class="com.compomics.pride_asa_pipeline.core.service.impl.PipelineModificationServiceImpl">
        <property name="modificationMarshaller" ref="modificationMarshaller"/>
        <property name="omssaModificationMarshaller" ref="omssaModificationMarshaller"/>
    </bean>

    <bean id="resultHandler"
          class="com.compomics.pride_asa_pipeline.core.service.impl.ResultHandlerImpl" lazy-init="true">
        <property name="fileResultHandler" ref="fileResultHandler"/>
        <property name="modificationMarshaller" ref="modificationMarshaller"/>
    </bean>

    <!-- repository beans -->
    <bean id="experimentRepository"
          class="com.compomics.pride_asa_pipeline.core.repository.impl.file.FileExperimentRepository">
        <!--    <property name="dataSource" ref="prideDataSource"/>-->
    </bean>

    <bean id="spectrumRepository"
          class="com.compomics.pride_asa_pipeline.core.repository.impl.file.FileSpectrumRepository">
        <!--    <property name="dataSource" ref="prideDataSource"/>-->
    </bean>

    <bean id="modificationRepository"
          class="com.compomics.pride_asa_pipeline.core.repository.impl.file.FileModificationRepository">
        <!--    <property name="dataSource" ref="prideDataSource"/>-->
    </bean>

    <bean id="fileResultHandler"
          class="com.compomics.pride_asa_pipeline.core.repository.impl.FileResultHandlerImpl">
        <!--    <property name="dataSource" ref="prideDataSource"/>-->
    </bean>

    <!-- encode/decode beans -->
    <bean id="base64DecoderMapper"
          class="com.compomics.pride_asa_pipeline.core.data.mapper.Base64DecoderMapper">
        <property name="base64DataDecoder" ref="base64DataDecoder"/>
    </bean>

    <bean id="base64DataDecoder"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.decode.impl.Base64DataDecoderImpl">
    </bean>

    <!-- modification beans -->
    <bean id="modificationMarshaller"
          class="com.compomics.pride_asa_pipeline.core.logic.modification.impl.ModificationMarshallerImpl">
    </bean>

    <bean id="peptideVariationsGenerator"
          class="com.compomics.pride_asa_pipeline.core.logic.impl.PeptideVariationsGeneratorImpl">
    </bean>

    <bean id="omssaModificationMarshaller"
          class="com.compomics.pride_asa_pipeline.core.logic.modification.impl.OmssaModificationMarshallerImpl">
    </bean>

    <!-- spectrum beans -->
    <bean id="spectrumMatcher"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.match.impl.SpectrumMatcherImpl">
        <property name="identificationScorer" ref="identificationScorer"/>
        <property name="noiseFilter" ref="noiseFilter"/>
        <property name="noiseThresholdFinder" ref="noiseThresholdFinder"/>
    </bean>

    <bean id="identificationScorer"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.score.impl.IdentificationScorerImpl">
    </bean>

    <bean id="noiseFilter"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.filter.impl.PeakNoiseFilter">
    </bean>

    <bean id="noiseThresholdFinder"
          class="com.compomics.pride_asa_pipeline.core.logic.spectrum.filter.impl.NoiseThresholdFinderImpl">
    </bean>

    <!-- recalibration beans -->
    <bean id="massRecalibrator"
          class="com.compomics.pride_asa_pipeline.core.logic.recalibration.impl.MassRecalibratorImpl">
        <property name="massWindowFinder" ref="massWindowFinder"/>
    </bean>

    <!--    <bean id="massRecalibrator"
          class="com.compomics.pride_asa_pipeline.core.logic.recalibration.impl.StubMassRecalibrator">
        <property name="massWindowFinder" ref="massWindowFinder"/>
    </bean>-->

    <bean id="massWindowFinder"
          class="com.compomics.pride_asa_pipeline.core.logic.recalibration.impl.SimpleMassWindowFinder">
    </bean>

    <!-- other beans -->
    <bean id="spectrumPeaksCache"
          class="com.compomics.pride_asa_pipeline.core.cache.impl.SpectrumPeaksCache">
    </bean>

    <!-- ols soap service client -->
    <!--    <jaxws:client id="olsClient"
    serviceClass="uk.ac.ebi.ontology_lookup.ontologyquery.Query"
    address="http://www.ebi.ac.uk/ontology-lookup/services/OntologyQuery" />-->

</beans>
